# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



# Binaries
*.exe
*.lib
*.dll

# Compile Intermediate Objects
x64/*
Debug/*
Release/*

#Visual Studio personal settings
*.user